<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    
    </ion-buttons>
    <ion-title>
      Cadastro de vaga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [ngModel]="vaga?.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <div [innerHTML]="getContent(vaga?.body)"></div>
    
    </ion-item>
    <ion-item>
      <ion-label position="floating">Labels</ion-label>
      <ion-input [ngModel]="getLabels(vaga?.labels)"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
