<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>
      Cadastro de vaga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [ngModel]="vaga?.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea
        [ngModel]="vaga?.body"
        rows="15"
        cols="20"
        placeholder="Digite da vaga"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Labels</ion-label>
      <ion-input [ngModel]="getLabels(vaga?.labels)"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
